#=========================================================================
# .gitignore
# Extensions that you do not want git to track
#=========================================================================

#=========================================================================
# Python related extensions and environment variables
#=========================================================================
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.venv/
venv/

#=========================================================================
# UV
#=========================================================================
uv.lock

#=========================================================================
# Database
#=========================================================================
*.db
*.sqlite

#=========================================================================
# IDE
#=========================================================================
# VS Code
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.swp

#=========================================================================
# Environmental variables
#=========================================================================
.env

#=========================================================================
# misc
#=========================================================================
*.pdf
.DS_Store
*.bak


#=========================================================================
# Data files (optional - uncomment if you want to keep data private)
#=========================================================================
data/*.tsv
data/*.csv
